{% extends 'Base.html' %}
{% load static %}

{% block content %}



<center>
    {% if user.is_authenticated %}
    
    <h1>Bienvenido  Geosmina</h1>
    {% else %}
    <div>
        <h3>
            Disfruta de tu cuenta en nuestra web de Geosmina. ¡Si no tienes una cuenta, créala ahora mismo!
        </h3>
    </div> 
    
    <br>
    <div> 
        {{error}}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button>
                Registrar 
            </button>
        </form>
    </div>
    {% endif %}
    
</center>

{% endblock %}

