{% extends 'Base.html' %}
{% load static %}

{% block content %}



<center>
        
    <div>
        <h3>
            Disfruta de tu cuenta en nuestra web de Geosmina. ¡Si no tienes una cuenta, créala ahora mismo!
        </h3>
    </div> 
    
    <br>
    <div> 
        {{error}}
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <button>
                Registrar Usuario
            </button>
        </form>
    </div>
</center>

{% endblock %}

