{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="float: left; margin: 1%;">
    <img src={% static 'img/productos/prod.jpg'%} style="max-width: 35%;">
    <h2>Cobollos de flores</h2>
    <h3>Por la compra de 2 articulos de la misma referencia, podrias llevar el doble del pedido totalmente gratis</h3>
</div>

<div style="float: left; margin: 1%;">
    <img src={% static 'img/productos/prod1.jpg'%} style="max-width: 35%;">
    <h2>Cobollos de flores</h2>
    <h3>Por la compra de 2 articulos de la misma referencia, podrias llevar el doble del pedido totalmente gratis</h3>
</div>

{% endblock %}